#root {
    padding-top: 36px;
  max-width: 327px;
  margin: 0 auto;
    position: relative;
    min-height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}