:root {
    font-family: 'SF UI Display', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none ;
}
.im{
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
}
.imitator{
  max-width: 360px;
}

h1.screen-title{
  font-weight: 600;
  font-size: 32px;
  line-height: 22px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 18px;
}