.authorize{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  touch-action: none;
  &-buttons{
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    button{
      height: 50px;
      padding: 15px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      transition: background-color .1s ease;

      border-radius: 15px;
      font-weight: 500;
      font-size: 16px;
    }
    &_apple{
      color: black;
      background-color: #FFDD2D;
      border: transparent;
      &:focus{
        background-color: #d0b324;
      }
    }
    &_google{
      background-color: transparent;
      color: #FFFFFF;
      border: 1px solid #2F2F2F;
      border-radius: 15px;
      &:focus{
        background-color: #2F2F2F;
      }
    }
  }
  img{

  }
  h1{
    margin-top: 27px;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
  }
  p{
    max-width: 203px;
    text-align: center;
    margin-top: 17px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #999999;
  }

  .loader {
    position: relative;
  }
  .loader1 {
    span {
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid;
      border-radius: 50%;
      border-color: transparent #000 #000;
      animation: cssload-spin 690ms infinite linear;
      @keyframes cssload-spin {
        100% {
          transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
}
